/* цвет "черных" заголовков и меню: #212121 */
/* цвет лого "черный": #000000  */
/* цвет "черных" абзацев #757575 */
/* акценты #2196F3 */
/* цвет белых заголовков и лого #ffffff */
/* цвет белых connect: rgba(255, 255, 255, 0.6); */
/* цвет меню #ECECEC */
/* цвет фона #E5E5E5 */
/* доп цвет фона: F5F4FA */
/* цвет фона героя #2F303A */
/* цвет черных connect:  */

:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --primery-backgraund-color: #ececec;
  --second-title-color: #ffffff;
  --second-text-connect: rgba(255, 255, 255, 0.6);
  --second-backgraund-color: #2f303a;
  --third-backgraund-color: #f5f4fa;
  --backgraund-color: #e5e5e5;
}

.page {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  background-color: var(--backgraund-color);
  color: var(--primery-text-color);
}

.advant ul,
.we-do ul,
.team ul,
.filter ul,
.gallery ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.section-title {
  color: var(--title-text-color);
}

/* Header */
.page-header {
  position: fixed;
  display: flex;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  border: #ececec;
  background-color: var(--primery-backgraund-color);
} /* ? */

header ul {
  align-items: center;
  display: inline;
  margin: 0 auto;
}

.logo {
  display: flex;
  font-size: 26px;
  font-weight: bold;
  margin: 24px 95px 25px 215px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.logo-half {
  color: var(--accent-color);
}

.logo,
.connect,
.link,
.call {
  text-decoration: none;
}

/*Nav Header*/

nav {
  display: flex;
}

.menu-link {
  font-style: normal;
}

.menu .link:hover,
.menu .link:focus,
.connect .link:hover,
.connect .link:focus,
.call:hover,
.call:focus {
  color: var(--accent-color);
}

.menu .link.current {
  color: var(--accent-color);
}

.menu {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-txt-color);
}

.menu a {
  color: var(--title-text-color);
}

.menu > .item {
  padding: 0 25px;
}

/* Connect */
.connect {
  display: flex;
  margin-right: 215px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.connect a,
.call {
  color: var(--primery-text-color);
}

.menu li,
.connect li {
  display: inline;
  margin-right: 10px;
  padding: 12px 12px;
}

/* Hero */
.hero {
  display: block;
  width: auto /* 1600px */;
  height: auto /* 600px */;
  margin-left: 0px;
  margin-top: 80px;

  color: var(--second-title-color);
  background-color: var(--second-backgraund-color);
}

.hero .title {
  display: block;
  margin: 0 auto;
  padding-top: 200px /* , 450px, 280px, 450px */;
  /* padding-left: 450px;
  padding-right: 450px; */
  padding-bottom: 30px;
  width: 700px;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Button */
.button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  line-height: 1.87;
  color: var(--title-text-color);
  background-color: var(--third-backgraund-color);
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.button.primary {
  color: var(--second-title-color);
  background-color: var(--accent-color);
  border-color: transparent;
  /* cursor: pointer; */
}

.button.secondary {
  color: var(--title-text-color);
  background-color: var(--third-backgraund-color);
  border-color: transparent;
}

.button.first-of-page-one {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.split {
  display: block;
  margin-top: 200px;
  color: rgba(255, 255, 255, 0);
}
/* Advantages */

.advant h2.section-title {
  color: transparent;
}

.advant h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advant ul {
  margin: 95px;
}

.advant li {
  width: 270px;
  margin-right: 30px;
}

/* What we do */
.we-do .section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  /* margin: 0, auto; */
  justify-content: center;
  margin-top: 95px;
  margin-bottom: 50px;
}

.we-do li {
  margin-right: 30px;
  margin-bottom: 95px;
  width: 370px;
}

/* Team */
.section.team {
  background-color: var(--third-backgraund-color);
}
.team h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.666;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 95px;
  padding-bottom: 50px;
}

.team h3 {
  margin: 0, auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.1875;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
}

.person {
  height: 370px;
  width: 270px;
  text-align: center;
  margin-bottom: 94px;
  margin-right: 30px;
  background-color: var(--second-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* Footer */
.foot {
  display: block;
  background-color: var(--second-backgraund-color);
  margin-top: -50px;
}

.foot .logo {
  width: 145px;
  padding-top: 60px;
  margin-left: 215px;
  margin-bottom: 20px;
  color: var(--second-title-color);
}

/* .foot .logo {
  width: 145px;
} */

.adress {
  display: flex;
  flex-direction: column;
  margin-left: 215px;
  padding-bottom: 60px;
  font-style: normal;
}

.where {
  color: var(--second-title-color);
}

.call {
  color: var(--second-text-connect);
}

.adress .call {
  width: 128px;
  margin-bottom: -5px;
}

/* Portfolio page */
/* Filters */
.filter {
  display: flex;
  justify-content: center;
}

.filter .section-title {
  color: transparent;
}

.filter ul {
  margin-top: 95px;
}

.filter li {
  margin-right: 10px;
  margin-bottom: 50px;
  margin-top: 95px;
}

.filter .button:focus,
.filter .button:hover {
  color: var(--second-title-color);
  background-color: var(--accent-color);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.652;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Gallery */

.gallery ul {
  display: flex;
  align-content: space-between;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  margin-bottom: 94px;
}

.gallery > .section-title {
  color: transparent;
}

.gallery li {
  margin-right: 30px;
  margin-bottom: 30px;
  height: 404px;
  background-color: var(--second-title-color);
  border: 1px solid #eeeeee;
  border-radius: 4px;
}

.imgg {
  width: 370px;
}

.gallery h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-left: 24px;
  color: var(--title-text-color);
  margin-bottom: -10px;
}
.gallery p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-left: 24px;
  color: var(--primery-text-color);
}
